AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=evently_db
POSTGRES_USER=evently_user
POSTGRES_PASSWORD=evently_password

# DATABASE_URL="file:./dev.db"
# MONGODB_CONNECTION_URI=

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

ROOT_PATH=C:\wamp64\www\evently\public

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
AUTH_TRUST_HOST=true

NODE_ENV=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

SENDER_EMAIL=
SMTP_SERVER_USERNAME=
SMTP_SERVER_PASSWORD=
SMTP_SERVER_HOST=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAX_UPLOAD_SIZE=5242880
