AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

# DATABASE_URL="file:./dev.db"
MONGODB_CONNECTION_URI=

ROOT_PATH=C:\wamp64\www\evently\public

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
AUTH_TRUST_HOST=true

NODE_ENV=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

SENDER_EMAIL=
SMTP_SERVER_USERNAME=
SMTP_SERVER_PASSWORD=
SMTP_SERVER_HOST=